@import '../../../scss/00_imports';

:host-context(.c-clock) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  @include container-padding;
}

.c-clock {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    @include breakpoint(lg) {
      flex-direction: row;
    }
  }
  &__date {
    position: relative;
    padding: $spacing--lg 0;
  }
}

.c-clock-display {
  position: relative;
  flex-shrink: 0;
  width: 200px;
  @include breakpoint(sm) {
    width: 260px;
  }
  @include breakpoint(md) {
    width: 300px;
  }
  @include breakpoint(lg) {
    &:first-child,
    &:first-of-type {
      margin-right: $layout--xs;
      z-index: 1;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: skew(-6deg, -2deg);
  }
}

.c-clock-digit {
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 0.8;
  font-style: italic;
  font-size: $clock-digit--sm;
  letter-spacing: -0.25rem;
  color: color('dark');
  @include text-elevate-3(color('dark'), 0.175);

  @include breakpoint(sm) {
    font-size: $clock-digit--md;
  }
  @include breakpoint(md) {
    font-size: $clock-digit--lg;
  }

  &--seconds {
    font-weight: 600;
    color: color('accent1');
    @include text-elevate-3(color('accent1'), 0.175);
  }
}

.c-clock-colons {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transform: skew(-4deg, -2deg);

  .circle {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: color('accent1');
    @include elevate-3(color('accent1'), 0.195);
    @include breakpoint(sm) {
      height: 24px;
      width: 24px;
    }
    @include breakpoint(md) {
      height: 28px;
      width: 28px;
    }
  }

  .circle ~ .circle {
    margin-top: $spacing--xl;
    @include breakpoint(sm) {
      margin-top: $spacing--4xl;
    }
    @include breakpoint(md) {
      margin-top: $layout--md;
    }
  }
}

.c-clock-meridian {
  position: absolute;
  bottom: -$spacing--lg;
  right: 0;

  &__label {
    font-size: $title--3;
    font-weight: 600;
    line-height: 1;
    color: color('accent2');

    @include breakpoint(sm) {
      font-size: $title--2;
    }
    @include breakpoint(md) {
      font-size: $title--1;
    }
  }
}

.c-clock-date-label {
  font-size: $overline;
  font-weight: 500;
  color: color('neutral');
  @include breakpoint(sm) {
    font-size: $body--2;
  }
  @include breakpoint(md) {
    font-size: $body--1;
  }
}
