@import '../../../scss/00_imports';

:host-context(.c-clock) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  @include container-padding;
}

.c-clock {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    @include breakpoint(lg) {
      flex-direction: row;
    }
  }
  &__date {
    position: relative;
    padding: $spacing--lg 0;
  }
}

.c-clock-display {
  position: relative;
  height: 120px;
  @include breakpoint(sm) {
    height: 174px;
  }
  @include breakpoint(md) {
    height: 208px;
  }
  @include breakpoint(lg) {
    height: auto;
    width: 244px;
    &:first-child,
    &:first-of-type {
      margin-right: $layout--md;
    }
  }
  @include breakpoint(xl) {
    width: 294px;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 0 $spacing--xl;
    overflow: hidden;
    transform: skew(-8deg, -4deg);
    border-bottom: 0.75px solid rgba(color('dark'), 0.045);
    @include breakpoint(lg) {
      border-bottom: 0;
      border-right: 0.75px solid rgba(color('dark'), 0.045);
    }
  }
}

.c-clock-digit {
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-style: italic;
  font-size: $clock-digit--sm;
  letter-spacing: -0.175rem;
  color: color('dark');
  @include text-elevate-3(color('dark'), 0.25);

  @include breakpoint(sm) {
    font-size: $clock-digit--md;
  }
  @include breakpoint(md) {
    font-size: $clock-digit--lg;
    @include text-elevate-4(color('dark'), 0.25);
  }
  @include breakpoint(xl) {
    font-size: $clock-digit--xl;
  }

  &--seconds {
    font-weight: 600;
    color: color('accent1');
    @include text-elevate-3(color('accent1'), 0.25);
    @include breakpoint(md) {
      @include text-elevate-4(color('accent1'), 0.25);
    }
  }
}

.c-clock-colons {
  position: absolute;
  z-index: 1;
  top: 0;
  right: $spacing--lg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transform: skew(-4deg, -2deg);
  @include breakpoint(sm) {
    right: $spacing--md;
  }
  @include breakpoint(md) {
    right: $spacing--sm;
  }
  @include breakpoint(lg) {
    right: -$spacing--xl;
  }

  .circle {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: color('accent1');
    @include elevate-2(color('accent1'), 0.25);
    @include breakpoint(sm) {
      height: 24px;
      width: 24px;
    }
    @include breakpoint(md) {
      height: 28px;
      width: 28px;
      @include elevate-3(color('accent1'), 0.25);
    }
    @include breakpoint(xl) {
      height: 32px;
      width: 32px;
    }
  }

  .circle ~ .circle {
    margin-top: $spacing--xl;
    @include breakpoint(sm) {
      margin-top: $spacing--4xl;
    }
    @include breakpoint(md) {
      margin-top: $layout--md;
    }
    @include breakpoint(lg) {
      margin-top: $layout--lg;
    }
    @include breakpoint(xl) {
      margin-top: $layout--xl;
    }
  }
}

.c-clock-meridian {
  position: absolute;
  bottom: -$spacing--xl;
  right: $spacing--lg;
  @include breakpoint(sm) {
    right: $spacing--md;
  }
  @include breakpoint(md) {
    right: $spacing--sm;
  }
  @include breakpoint(lg) {
    right: 0;
    bottom: 0;
  }
  &__label {
    font-size: $subtitle--2;
    font-weight: 500;
    line-height: 1;
    color: color('accent2');

    @include breakpoint(sm) {
      font-size: $title--3;
    }
    @include breakpoint(md) {
      font-size: $title--2;
    }
    @include breakpoint(lg) {
      font-size: $title--1;
    }
    @include breakpoint(xl) {
      font-size: $large--title;
    }
  }
}

.c-clock-date-label {
  font-size: $overline;
  font-weight: 500;
  color: color('neutral');
  @include breakpoint(sm) {
    font-size: $body--2;
  }
  @include breakpoint(md) {
    font-size: $body--1;
  }
  @include breakpoint(xl) {
    font-size: $subtitle;
  }
}
